@import '@variables';

.wrap {
  width: 100%;
  display: flex;
  align-items: center;

  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    z-index: 99999;

    .menu_item {
      font-size: $font_s;
      font-weight: 700;
      text-transform: uppercase;
      color: $brown;
      cursor: pointer;
      position: relative;
      display: inline-block;
      transition: transform 0.35s ease-in-out;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 2px solid;
        margin-top: 10px;
        opacity: 0;
        transition: opacity 0.35s, transform 0.35s;
        transform: scale(0, 1);
        color: $brown;
      }

      &:hover {
        transform: scale(1.05);
        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}
