@import '@variables';

.wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $brown;
  padding: 40px;

  .container {
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 5px 5px 5px 3px rgba(80, 80, 80, 0.425);
    gap: 80px;

    .box_left {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 4px;

      .text_medium {
        font-size: $font_m;
        font-weight: 500;
      }
      .text_large {
        font-size: $font_xl;
        font-weight: 900;
        padding-bottom: 16px;
      }

      .text_small {
        font-size: $font_s;
        font-weight: 300;
        line-height: 40px;
      }
    }

    .box_right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 500px;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 1400px) {
  .wrap {
    .container {
      .box_left {
        .text_medium {
          font-size: 24px;
        }

        .text_large {
          font-size: 56px;
        }

        .text_small {
          font-size: 16px;
          line-height: 34px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .wrap {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;

      .box_left {
        justify-content: center;
        align-items: center;
        .text_medium {
          font-size: 20px;
          text-align: center;
        }

        .text_large {
          font-size: 50px;
          text-align: center;
        }

        .text_small {
          font-size: 14px;
          line-height: 34px;
          text-align: center;
        }
      }

      .box_right {
        max-height: 500px;

        img {
          max-height: 400px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .wrap {
    padding: 20px;

    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;

      .box_left {
        .text_medium {
          font-size: 18px;
        }

        .text_large {
          font-size: 46px;
        }

        .text_small {
          font-size: 12px;
          line-height: 24px;
        }
      }

      .box_right {
        max-height: 400px;

        img {
          max-height: 380px;
        }
      }
    }
  }
}
