@import '@variables';

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
  font-size: $font-s;

  .text_large {
    font-size: $font-l;
    font-weight: 900;
  }

  .text_medium {
    font-size: $font-m;
    font-weight: 700;
  }

  .text_small {
    font-size: $font-s;
    font-weight: 300;
  }
}
