@import '@variables';

.wrap {
  margin-top: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
  color: white;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url('@images/background_footer.png');
    padding: 40px;
    gap: 40px;

    .footer_top {
      width: 100%;
      display: flex;
      align-items: flex-start;
    }

    .footer_middle {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 60px;

      .burger_info {
        font-size: $font_s;
        line-height: 30px;
        max-width: 860px;
      }

      .contact {
        display: flex;
        flex-direction: column;
        gap: 24px;
        font-size: $font_s;

        .info_box {
          display: flex;
          align-items: center;
          gap: 24px;
          text-transform: uppercase;

          .footer_icon {
            width: 30px;
            object-fit: contain;
          }
        }
      }
    }

    .footer_bottom {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icons_box {
        display: flex;
        gap: 16px;

        .icon {
          transition: 0.2s ease-in-out;
        }
        .icon:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .wrap {
    padding: 40px;

    .container {
      padding: 40px;
      gap: 36px;

      .footer_middle {
        .burger_info {
          font-size: 16px;
          line-height: 26px;
        }

        .contact {
          gap: 24px;
          font-size: 16px;

          .info_box {
            img {
              height: 36px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .wrap {
    padding: 0px;

    .container {
      padding: 40px;
      gap: 40px;

      .footer_top {
        img {
          width: 300px;
        }
      }

      .footer_middle {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        .burger_info {
          font-size: 14px;
          line-height: 26px;
        }

        .contact {
          gap: 24px;
          font-size: 14px;

          .info_box {
            img {
              height: 32px;
            }
          }
        }
      }

      .footer_bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 40px;

        .icons_box {
          display: flex;
          gap: 16px;

          .icon {
            transition: 0.2s ease-in-out;
          }
          .icon:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .wrap {
    .container {
      padding: 20px;
      gap: 40px;
    }
  }
}
