@import '@variables';

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  background: $gold;
  padding: 48px;
  position: relative;

  .container_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: $brown;
    z-index: 10;

    p {
      padding: 0;
      margin: 0;
    }

    .small_text {
      padding: 6px;
      border-width: 2px;
      border-style: dashed;
      border-color: $brown;
      font-size: $font_s;
      text-transform: uppercase;
      margin-bottom: -20px;
    }

    .big_text {
      font-size: $font_xxl;
      font-weight: 900;
      text-shadow: 6px 6px 5px rgba(255, 255, 255, 0.507);
      margin-bottom: -20px;
    }

    .medium_text {
      font-size: $font_xl;
      font-weight: 900;
      text-shadow: 6px 6px 5px rgba(255, 255, 255, 0.507);
    }
  }

  .container_right {
    position: relative;
    height: 600px;
    width: 100%;
    z-index: 9;

    .burger_img {
      position: absolute;
      top: -380px;
      right: -200px;
    }
  }
}
