// ----- COLORS -----
$black: #1b1212;
$brown: #42200b;
$gold: #ffc74e;
$gray: #e5e4e2;
$red: #df1b1b;
$white: #f1f1f1;

// ----- FONT SIZES -----
$font_xs: 14px;
$font_s: 18px;
$font_m: 28px;
$font_l: 40px;
$font_xl: 60px;
$font_xxl: 140px;
